# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = scraper.settings

[deploy]
#url = http://localhost:6800/
project = scraper

[GSHEET]
SERVICE_ACCOUNT_PATH = server_cred.json
GSHEET_FILE_ID = fffffffffffffffffff